body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333;
    text-align: center;

}
h1{
    font-size: 7vw;
}
h3{
    font-size:3.5vw;
}
.game{
    width: 60%;
    max-width: 1020px;
    max-height: 1020px;
    margin: 0 auto;
    background: #CED3AF;
    height: 0;
    padding-bottom: 60%;
}

.mainMenu{
    position: relative;
    width:100%;
    height:100%;
    background: #CED3AF;
}
.mainMenuButton{
    width: 70%;
    border-radius: 5px;
    border: 4px solid #B1B787;
    background: #B1B787;
    font-size: 2.5vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333;
}
.console{
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    border: 8px solid #B1B787;
    background: #CED3AF;
}
.tileGrid {
    border: 2em solid #CED3AF;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
    position: relative;
    justify-content: center;
}

.tileContainer {
    background-color: #CED3AF;
    display: flex;
    height: 0;
    padding-bottom: 100%;
}
